Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-container-size-empty,
  readability-identifier-naming
WarningsAsErrors: ''
HeaderFilterRegex: 'src/.*'
FormatStyle: file
