[Desktop Entry]
Type=Application
Name=FrameViewer
Comment=Inspect video frame by frame
Exec=frameviewer %f
Icon=frameviewer
Terminal=false
Categories=AudioVideo;Video;Player;
MimeType=video/3gpp;video/3gpp2;video/mp2t;video/mp4;video/mpeg;video/ogg;video/quicktime;video/webm;video/x-flv;video/x-matroska;video/x-ms-asf;video/x-ms-wmv;video/x-msvideo;
StartupNotify=true
